<%= labelled_fields_for("time_entries[#{id}]", time_entry) do |f| %>
  <div class="box" id="entry_<%= id %>" data-id='<%= id %>' class='entry'>
    <%= error_messages_for time_entry %>
    <p>
      <% projects = project_tree_options_for_select(@projects, :selected => f.object.project || @first_project) %>
      <%= f.select :project_id, projects, { required: true }, { :class => 'project_select', data: { id: id } } %>&nbsp;
    </p>

    <p class="entry_issues">
      <% @issues = get_issues(f.object.project_id || @first_project.id) %>
      <%= render :partial => 'issues_selector', :locals => { :issues => @issues, id: id, time_entry: time_entry } %>
    </p>

    <p>
      <%= f.text_field :spent_on, :size => 10, :class => 'spent_on', required: true %><%= calendar_for("entry_#{id} .spent_on") %>
    </p>

    <p>
      <%= f.text_field :hours, :size => 6, :maxlength => 6, required: true %>
    </p>

    <p>
      <%= f.text_field :comments, :size => 100, :maxlength => 255 %>
    </p>

    <p class="entry_activities">
      <%= render :partial => 'activities_selector', :locals => { :id => id, :f => f, :activities => @first_project.activities } %>
    </p>
    <% time_entry.custom_field_values.each do |value| %>
      <p><%= custom_field_tag_with_label "time_entries[#{time_entry.id}]", value %></p>
    <% end if time_entry.respond_to?(:custom_field_values) %>
  </div>
<% end %>