<h2><%= l(:label_bulk_time_entries) %></h2>

<%= form_for(:bulk_time_entry_title, :url => {:action => 'save'}, :html => {:class => 'tabular'}, :remote => true) do %>
  <div id="entries">
    <% @time_entries.each_with_index do |time_entry, id| %>
    <%= render :partial => 'time_entry', locals: {id: id, time_entry: time_entry} %>
    <% end %>
  </div>
  <div id="add-entry">
    <%= link_to_function l(:label_bulk_time_add_another), "addEntry()", :html => {:accesskey => 'a'} %>
  </div>
  <br/>
  <%= submit_tag l(:button_save) %>
<% end %>

<% html_title l(:label_bulk_time_entries) %>


<% content_for(:header_tags) do %>
<%= javascript_include_tag 'bulk_time_entry.js', :plugin => 'bulk_time_entry' %>
<% end %>