<% @unsaved_entries.each do |id, time_entry| %>
$('#entry_<%= id %>').replaceWith('<%=j render :partial => 'time_entry', locals: {id: id, time_entry: time_entry}  %>');
<% end %>
projectSelectBind();

<% @saved_entries.each do |id, time_entry| %>
<% time_entry_target = time_entry.issue ? "#{h(time_entry.project.name)} - #{h(time_entry.issue.subject)}" : "#{h(time_entry.project.name)}" %>
$('#entry_<%= id %>').replaceWith("<div class='flash notice'><%= l(:text_time_added_to_project, :count => time_entry.hours, :target => time_entry_target)%> <%=" (#{time_entry.comments})" unless time_entry.comments.blank? %>.</div>");
<% end %>
